# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Docker
.dockerignore
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp

# Data
/pyqt5_practice/data/

# OS
.DS_Store
Thumbs.db


custom_tags.json

# Build and deployment
FileTagger_Package/
dist/
build/
*.spec
__pycache__/
*.pyc
*.pyo
*.pyd
